<nav class="side-navbar">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <img src="assets/favicon.ico" alt="Angular Logo" class="logo">
    </a>
  </div>
  <div class="nav-links">
    <a routerLink="/home">
      <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
    </a>
    <a routerLink="/about">About</a>
    <a routerLink="/dashboard">Dashboard</a>
    <ng-container *ngIf="!(isLoggedIn$ | async); else loggedInBlock">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-container>
    <ng-template #loggedInBlock>
      <a routerLink="/profile">Profile</a>
      <a (click)="logout()">Logout</a>
    </ng-template>
  </div>
</nav>
