<nav class="navigation">
  <a routerLink="/" class="logo-link">
    <img src="assets/favicon.ico" alt="Angular Logo" class="logo">
  </a>
  <a routerLink="/home">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </a>
  <a routerLink="/about">About</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/register" *ngIf="!authService.isUserLoggedIn()">Register</a>
  <a routerLink="/login" *ngIf="!authService.isUserLoggedIn()">Login</a>
  <a routerLink="/profile" *ngIf="authService.isUserLoggedIn()">Profile</a>
</nav>
