<div class="container">
  <h2>{{ employeeForm.get('id')?.value ? 'Edit Employee' : 'Add Employee' }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
    <div class="form-group">
      <label class="form-label" for="fname">First Name</label>
      <input class="form-input" id="fname" formControlName="firstName">
    </div>

    <div class="form-group">
      <label class="form-label" for="lname">Last Name</label>
      <input class="form-input" id="lname" formControlName="lastName">
    </div>

    <div class="form-group">
      <label class="form-label" for="position">Position</label>
      <input class="form-input" id="position" formControlName="position">
    </div>

    <div class="form-group">
      <label class="form-label" for="department">Department</label>
      <select class="form-input" id="department" formControlName="departmentId">
        <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" for="email">Email</label>
      <input class="form-input" id="email" type="email" formControlName="email">
    </div>

    <div class="form-group">
      <label class="form-label" for="phone">Phone</label>
      <input class="form-input" id="phone" formControlName="phone">
    </div>

    <button type="submit" class="button-primary">
      {{ employeeForm.get('id')?.value ? 'Update Employee' : 'Add Employee' }}
    </button>
  </form>
</div>
