<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label class="form-label" for="name">Name</label>
      <input class="form-input" type="text" id="name" name="name" [(ngModel)]="credentials.name" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
        <div *ngIf="name.errors?.['required']">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input class="form-input" type="password" id="password" name="password" [(ngModel)]="credentials.password" required #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </div>
    </div>
    <button type="submit" class="button-primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
